@font-face {
  font-family: pixel; 
  src: url(assets/PixelOperator.ttf);
  font-display: swap;}

.grid{display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px, 1fr) );
  grid-template-rows: 1fr 1fr;
  gap: 10px;}

.image {transition: transform .2s;
  margin: 0 auto;
  position: relative;}
.image:hover {transform: scale(1.08)}

li a {color: #ffc12f;
  padding: 0px 15px;
  text-decoration: none;
  display: inline-block;}

* {box-sizing: border-box;}
.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start; 
}

.side {flex: 20%; background: #121212; padding: 0px 20px;}
.main {flex: 80%; background: #121212; padding: 0px 20px;}

.footer{ position: absolute; left: 10px;}

@media screen and (max-width: 900px) {
  li a{float: left;padding: 0px 12px;}
  .main{padding: 0px 30px;}
  .row{flex-direction: column; justify-content:center;}
  .side{text-align:center; width: 100%;}
  ul {padding: 0px 20px;display: flex; justify-content:center;}
}
